{% extends 'core/base.html' %}

{% load i18n %}
{% load bootstrap %}

{% block title %}
    {% trans 'Create new ' %} {{ item_name }}
{% endblock title %}

{% block content %}
    {% block head %}
        <div class="page-header">
            <h2>
                {% trans 'Create new' %}
                <b>{{ item_name }}</b>
            </h2>
            <div id="toolbar" class="pull-right">
                {% block toolbar %}

                {% endblock toolbar %}
            </div>
        </div>
    {% endblock head %}

    {% block body %}
        <form class="form" method="post">
            {% csrf_token %}
            {{ form|bootstrap }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">
                    {% trans 'Create' %}
                </button>
            </div>
        </form>
    {% endblock body %}

{% endblock content %}
